%h2 Contact Us

%h3 Staff:

%table
  %tr
    %td Pastor
    %td Bill Spain
  %tr
    %td Associate Paster
    %td Bill Ballinger
  %tr
    %td Admin Assistant
    %td Betty Warren
  %tr
    %td Youth Pastor
    %td Caleb Dunn
