
%h2 Our Weekly Schedule: 

= image_tag('Church_Building.jpg', height:'200', width:'400')



%h2 Sundays Mornings

%table
  %tr
    %td.right  9:30am 
    %td <b>Sunday School</b> (all ages)
  %tr 
    %td.right 10:45am 
    %td <b>Morning Worship Service</b> - Sanctuary
  %tr
    %td 
    %td Children may join adults for the beginning
  %tr
    %td
    %td of Morning Worship until Children's Church
  %tr
    %td.right 11:00am
    %td <b>Children's Church</b> - 
  %tr
    %td.right 6:00pm
    %td <b>Evening Service</b>

%h3 Wednesday Evenings at 6:30pm
%ul
  %li Evening Prayer Service
  %li K'Motion Children's Activity 
  %li Young Adults Bible Study
  %li Youth Devo