.nopadmargin{
  margin: 0;
  padding: 0;
}
.blackborder{
  border-style: solid;
  border-color: black;
}
.whiteborder{
  border-style: solid;
  border-color: white;
}
.redborder{
  border-style: solid;
  border-color: red;
}
.greenborder{
  border-style: solid;
  border-color: green;
}
.blueborder{
  border-style: solid;
  border-color: blue;
}
.yellowborder{
  border-style: solid;
  border-color: yellow;
}
.orangeborder{
  border-style: solid;
  border-color: orange;
}
.pinkborder{
  border-style: solid;
  border-color: pink;
}
.blackfill{
  background-color: black;
}
.whitefill{
  background-color: white;
}
.redfill{
  background-color: red;
}
.greenfill{
  background-color: green;
}
.bluefill{
  background-color: blue;
}
.yellowfill{
  background-color: yellow;
}
.orangefill{
  background-color: orange;
}
.pinkfill{
  background-color: pink;
}
