// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center{
  text-align: center;
}

.boxed{
  outline-color:red;
  outline-width:2px;
  outline-style:solid;
}

.right{
  text-align:right;
}

#body-container{
  width:400px;
}

// "div.clickable" and ".div-clickable" (for the link_to class:'div-clickable') are used to
// make an entire %div section clickable as one
div.clickable{
  position:relative;
}

.div-clickable{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;     // No underlines on the link
  z-index: 10;               // Places the link above everything else in the div
  background-color: #FFF;    // Fix to make div clickable in IE
  opacity: 0;                // Fix to make div clickable in IE
  filter: alpha(opacity=1);  // Fix to make div clickable in IE
}