.collapse.container-fluid.navbar-collapse#collapse-2
  %h1 This is the sidebar

  <!-- sidebar -->
  .sidebar-offcanvas{role: "navigation"}
    %ul.nav
      %li= link_to 'Maintenance', "/maintenance/"
      %li= link_to 'Coolants & Lubes', "/maintenance/"
      %li= link_to 'Scrap', "/maintenance/"
      %li= link_to 'Labor Reporting', "/maintenance/"

  -# %ul.navbar.sidebar-nav
  -#   %li.sidebar-brand= link_to 'Start Bootstrap', "#"
  -#   %li= link_to 'Dashboard', "#"
  -#   %li= link_to 'Shortcuts', "#"
  -#   %li= link_to 'Overview', "#"
  -#   %li= link_to 'Events', "#"
  -#   %li= link_to 'About', "#"
  -#   %li= link_to 'Services', "#"
  -#   %li= link_to 'Contact', "#"

  -# <!-- sidebar -->
  -# <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  -#     <ul class="nav">
  -#         <li><a href="/maintenance/"><i class="fa fa-fw fa-cog"></i> Maintenance</a></li>
  -#         <li><a href="/coolants/"><i class="fa fa-fw fa-flask"></i> Coolants & Lubes</a></li>
  -#         <li><a href="/scrap/"><i class="fa fa-fw fa-trash-o"></i> Scrap</a></li>
  -#         <li><a href="/labor/"><i class="fa fa-fw fa-user"></i> Labor Reporting</a></li>        
  -#     </ul>
  -# </div>
