!!!

-# SOONER BAPTIST

%html
  .container
    = render 'layouts/header'
    -# = render 'layouts/navbar'
    %body.background_image.pinkborder
      
      -# .background_image

      .container-fluid
        .row.greenborder
          -# .col-sm-3.sidebar-collapse.pinkfill

          -#   = render 'layouts/navsidebar'

          .col-sm-12.blueborder
          
            -# This is the main body area

            -# %div.yellowfill
            -#   here is some text in the yellow box
            -# %table.table.table-bordered{style: "border-style:solid;color:green"}
            -#   %ul
            -#     %li="hello"
            -#     %li="goodbye"
            -#   is this anything
            %div{style: "width:auto;"}
              = yield
            }

      = render 'layouts/beforebodyend'
    = render 'layouts/footer'
